@font-face {
  font-family: Work Sans Bold;
  src: url(../assets//fonts/static/WorkSans-Bold.ttf);
}

@font-face {
  font-family: Work Sans Regular;
  src: url(../assets//fonts/static/WorkSans-Regular.ttf);
}
@font-face {
  font-family: Work Sans Semibold;
  src: url(../assets//fonts/static/WorkSans-SemiBold.ttf);
}
