@mixin heading-xl {
  font-family: Work Sans Bold;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
}

@mixin heading-lg {
  font-family: Work Sans Bold;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

@mixin heaindg-md {
  font-family: Work Sans Semibold;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

@mixin heading-sm {
  font-family: Work Sans Semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

@mixin body-md {
  font-family: Work Sans Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@mixin body-md {
  font-family: Work Sans Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
